* {
    font-family: "Lato";
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    top: 0;
    justify-content: space-between;
    word-spacing: 18px;
    background-color: #1CCACD;
    position: sticky;
    padding: 3%;
    color: white;
    font-weight: 300;
    height: 30px;
}

.header-text {
    font-size: 25px;
}

ul,
li,
a {
    text-decoration: none;
    display: inline;
    color: white;
}

.body-top {
    height: 300px;
    width: 100%;
    background-color: #1CCACD;
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 100;
}

.body-top-left {
    width: 75%;
}

.Owl-Carousel-2 {
    font-size: 300%;
}

.body-top-text {
    font-size: 120%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.download {
    color: #1CCACD;
    background-color: white;
    padding: 2.2%;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: 500;
    font-size: larger;
}

.download:hover {
    color: white;
    background-color: red;
    transition: 0.5s;
}

.github {
    border: 1px solid white;
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: 500;
    font-size: larger;
    margin-left: 2%;
}

.github:hover {
    background-color: red;
    transition: 0.5s;
    border: 0px;
}

.version {
    opacity: 0.7;
    margin-top: 4%;
}

.body-mid {
    height: 300px;
    margin: 1%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 6%;
}

.demo {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 180%;
    color: #808080;
}

.swipe-drag {
    height: 125%;
    display: flex;
}

.swipe {
    margin: 1%;
    height: 50%;
    width: 50%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 225%;
    font-style: italic;
    font-weight: 200;
}

.drag {
    margin: 1%;
    height: 50%;
    width: 50%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 225%;
    font-style: italic;
    font-weight: 200;
}

.responsive {
    margin: 1%;
    height: 50%;
    width: 50%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 225%;
    font-style: italic;
    font-weight: 200;
}

.body-main {
    margin: 0 10% 0 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.mline {
    font-size: 200%;
    margin: 5%;
    font-weight: 400;
}

.sline {
    font-size: 100%;
    margin: 5%;
}

.body1-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
}

.text-area {
    text-align: justify;
    width: 75%;
}

.last-line {
    width: 60%;
    margin-top: 5%;
    margin-left: 20%;
}

.last-text {
    font-size: 30px;
    text-align: center;
    margin-top: 5%;
    font-family: "Lato";
    color: #1CCACD;
    font-weight: 200;
}

.last-line-2 {
    text-align: center;
    margin-top: 5%;
}

.twitter {
    padding: 2%;
    background-color: rgb(252, 245, 246);
    font-size: 300%;
    justify-content: left;
    font-weight: 200;
}

.footer {
    text-align: center;
    margin-top: 5%;
    height: 200%;
    width: 100%;
    font-size: 40%;
    color: #1CCACD;
}

.twitter-image {
    height: 20px;
    margin-bottom: -4px;
    margin-left: 1%;
}

.demos {
    padding: 2%;
    background-color: rgb(252, 245, 246);
    font-size: 300%;
    justify-content: left;
    font-weight: 200;
}

.basic-demo {
    padding-top: 10%;
    font-size: 130%;
    padding-left: 2%;
    padding-bottom: 4%;
    border-bottom: 0.01rem solid #1CCACD;
}

.demo-text {
    margin-left: 20%;
    font-size: 20px;
    font-weight: 300;
}

.demos-main-box {
    margin: 0% 20%;
}

.basic {
    height: 60px;
    margin: 2.5%;
    width: 80%;
    background-color: #d4d9d9;
    padding: 5%;
    font-size: 20px;
}

.basic:hover {
    color: white;
    background-color: #1CCACD;
    transition: 0.3s;
}

.grid {
    margin-top: 3%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
}

.docsbox {
    height: 300%;
    width: 20%;
    font-size: 14px;
    margin-left: 22%;
}

.side {
    display: list-item;
    list-style-type: none;
    color: #14c0c3;
    font-weight: 200;
    padding: 5%;
}

.side:hover {
    background-color: #e7eeee;
}

.point {
    color: black;
    font-size: 15px;
}

.main {
    display: inline-flex;
}

.left {
    margin-left: 2%;
}

.right {
    height: fit-content;
    width: fit-content;
    margin-left: 17%;
    margin-top: -597px;
}

.welcome-text-no-matter {
    border-left: 5px solid#14c0c3;
    padding: 20px;
}

.hf {
    font-size: 40px;
    margin-bottom: 40px;
    font-weight: 400;
    /* header font */
}

.df {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: ;
    /* data font */
}

.sf {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 40px;
    margin-top: 40px;
    /* second data font */
}

.list {
    display: block;
    text-decoration: underline;
}

.docslink {
    color: #14c0c3;
}

.docslink:hover {
    color: #189597;
}